<html>
  <head>

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Vollkorn:400,400i,600,700" rel="stylesheet">

  </head>
  <body>
    <div class="navbar-guyer">
      <!-- Logo -->
      <a href="/" class="navbar-guyer-brand">
        <%= image_tag "logo.png", alt: "JG Logo"%>
      </a>
      <!-- Right Navigation -->
      <div class="navbar-guyer-right">
        <a href="https://www.linkedin.com/in/jaredleeguyer" target="_blank" class="navbar-guyer-item navbar-guyer-link">Resume</a>
        <a href="https://medium.com/@jared_guyer" target="_blank" class="navbar-guyer-item navbar-guyer-link">Blog</a>
        <a href="mailto:jguyer@jaredguyer.io" class="navbar-guyer-item navbar-guyer-link">Contact</a>
      </div>
    </div>
    <!-- Banner with short intro -->
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.1) 10%, rgba(0,36,61,0.65) 50%), url('<%=image_path "Forest_cover.jpeg" %>');">
      <div class="container">
        <div class="banner-content">
          <h2>Hi, I'm Jared. <br> Strategist, technologist, <br>& entreprenuer.</h2>
        </div>
      </div>
    </div>
    <!-- About section w/ Picture with description -->
    <div class="about" style="background-image: url('<%=image_path "Paper_cover.jpg" %>');">
      <div class="container">
       <div class="about-wrapper">
         <div class="box1">
           <img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/12985548_822061185858_3422673379480614014_n.jpg?oh=f35ba70c7f70875e50507bd0c696ab5c&oe=5ABC7277" alt="jared"></div>
         <div class="box2">
           <p>I’m an experienced business consultant, product and project manager with 6+ years experience at <a href="https://www2.deloitte.com/us/en/services/consulting.html"> Deloitte Consulting LLP </a> & a variety of non-profits.</p>
           <p> I am skilled in crafting & operationalizing strategy, prototyping & developing technology products, and aligning digital presence with strategic goals.</p>
         </div>
       </div>
     </div>
    </div>
    <div class="container">
           <div class="resume-banner">
        <div class="container">
          <h2>Professional Background</h2>
          <div class="resume-wrapper">
            <div class="experience">
              <h3>Industry</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quod nobis non ullam iste cupiditate modi facilis eum quam. Iste? </p>
            </div>
            <div class="experience">
              <h3>Domain</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est cumque doloribus, dolor! Itaque molestias ullam, esse at, aspernatur rerum qui. </p>
            </div>
            <div class="experience">
              <h3>Results</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui cum eius accusantium id modi officiis magni vel quaerat ex ad. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="skills-wrapper">
        <div class="skill1">
          <div class="skill-icon">
            <%= image_tag "Strategy_icon.svg", alt:"Strategy Icon" %>
          </div>
          <h2>Strategy Development</h2>
          <p>I can assist with strategy and all that good stuff.  After 6 years at Deloitte I’m good at it and have done it for a variety of industries and subject matters.</p>
        </div>
        <div class="skill2">
          <div class="skill-icon">
            <%= image_tag "Technology_icon.svg", alt:"Technology Icon" %>
          </div>
          <h2>Technology Advisory</h2>
          <p>Assess the feasibility of a technology initiative and how to best integrate it in your operations. I wonder if the spacing is due to text size?</p>
        </div>
        <div class="skill3">
          <div class="skill-icon">
            <%= image_tag "Digital_icon.svg", alt:"Digital Icon" %>
          </div>
          <h2>Digital Presence</h2>
          <p>I can assist with strategy and all that good stuff.  After 6 years at Deloitte I’m good at it and have done it for a variety of industries and subject matters.</p>
        </div>
        <div class="skill4">
          <div class="skill-icon">
            <%= image_tag "Writing_icon.svg", alt:"Writing Icon" %>
          </div>
          <h2>Content Creation</h2>
          <p>I can write really weill to help articulate your strategy and mission to enable best results. Yup, exactly what we have here</p>
        </div>
            <a href="#" class="btn-resume" width="100px">Resume</a>

      </div>
    </div>
    <footer id="contact">
        <div class="footer-banner">
          <div class="footer-content">
          <h2>Let's talk</h2>
          <p>I’m interested in talkigng about a bunch of things like innovation and technology </p>
          <div class="footer-email">
            <a href="mailto:jguyer@jaredguyer.io"><i class="fa fa-envelope-o" style="margin-right: 5px"></i>jguyer@jaredguyer.io</a>
          </div>
          </div>
        </div>
      <div class="footer-bottom">
        <div class="footer-links">
          <a href="https://www.linkedin.com/in/jaredleeguyer/" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a href="https://medium.com/@jared_guyer" target="_blank"><i class="fa fa-medium"></i></a>
          <a href="https://github.com/jaredg8" target="_blank"><i class="fa fa-github"></i></a>
          <a href="mailto:jguyer@jaredguyer.io" ><i class="fa fa-envelope-o"></i></a>
        </div>
        <div class="footer-copyright">
          Handcrafted with  <i class="fa fa-heart"></i>  from the road
        </div>
      </div>
    </footer>
  </body>
</html>
