<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111884068-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111884068-1');
    </script>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Vollkorn:400,400i,600,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>
  <body>
    <div class="navbar-guyer">
      <!-- Logo -->
      <a href="/" class="navbar-guyer-brand">
        <%= image_tag "logo.png", alt: "Jared Guyer Logo"%>
      </a>
      <!-- Right Navigation -->
      <div class="navbar-guyer-right">
        <a href="https://www.linkedin.com/in/jaredleeguyer" target="_blank" class="navbar-guyer-item navbar-guyer-link">Resume</a>
        <a href="https://medium.com/@jared_guyer" target="_blank" class="navbar-guyer-item navbar-guyer-link">Blog</a>
        <a href="mailto:jguyer@jaredguyer.io" class="navbar-guyer-item navbar-guyer-link">Contact</a>
      </div>
    </div>
    <!-- Banner with short intro -->
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.1) 10%, rgba(0,36,61,0.65) 50%), url('<%=image_path "Forest_cover.jpeg" %>');">
        <div class="banner-content">
          <h1>Hi, I'm Jared. <br> Strategist, technologist, <br>& entrepreneur.</h1>
        </div>
    </div>
    <!-- About section w/ Picture with description -->
    <div class="about">
       <div class="about-wrapper">
         <div class="box-about-image">
          <%= image_tag "Jared_profile.jpg", alt: "Jared Guyer Side Profile"%>
          </div>
         <div class="box-about-text">
          <div class="aligner-text">
             <p>I’m an experienced business consultant, product and project manager with 6+ years experience at <a href="https://www2.deloitte.com/us/en/services/consulting.html"> Deloitte Consulting LLP </a> & a variety of non-profits. </p>
             <p> I am skilled in crafting & operationalizing strategy, prototyping & developing technology products, and aligning digital &strategic goals.</p>
           </div>
         </div>
       </div>

     </div>
     <div class="resume">
        <div class="resume-banner">
          <h2>Professional Background</h2>
          <div class="resume-wrapper">
            <div class="experience">
              <h3>Industry</h3>
              <p>I've worked extensively in public and private sectors including health care, education, research organizations, retail, real estate, and automotive. </p>
            </div>
            <div class="experience">
              <h3>Skills</h3>
              <p>Proven skills in project & product management, strategic planning, business model and service design, prototyping, and full-stack web development. </p>
            </div>
            <div class="experience">
              <h3>Results</h3>
              <p>I have led successful scaling of software products, improved fund raising and grant application results, and designed tools to align operations with strategy.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="skills-wrapper">
        <div class="skills-grid">
        <div class="skill1">
          <div class="skill-icon">
            <%= image_tag "Strategy_icon.svg", alt:"Jared Guyer Strategy Icon" %>
          </div>
          <h2>Strategy Development</h2>
          <p>I can update or perform due diligence on organizational strategy.  After 6 years at Deloitte I’ve seen what works and doesn't across a variety of industries and subject matters</p>
        </div>
        <div class="skill2">
          <div class="skill-icon">
            <%= image_tag "Technology_icon.svg", alt:"Jared Guyer Technology Icon" %>
          </div>
          <h2>Technology Advisory</h2>
          <p>I can assess the feasibility of a technology initiative and how to best integrate new tools and technologies into your operations </p>
        </div>
        <div class="skill3">
          <div class="skill-icon">
            <%= image_tag "Digital_icon.svg", alt:"Jared Guyer Digital Icon" %>
          </div>
          <h2>Digital Footprint</h2>
          <p>I can lead the formation of a digital vision for your organization through identifying digital opportunities and roadmaps </p>
        </div>
        <div class="skill4">
          <div class="skill-icon">
            <%= image_tag "Writing_icon.svg", alt:"Jared Guyer Writing Icon" %>
          </div>
          <h2>Content Creation</h2>
          <p>I can craft content for customer and constituent engagement across various channels </p>
        </div>
      </div>
      <div class="btn-wrap">
      <a href="mailto:jguyer@jaredguyer.io" class="btn-resume" width="100px">Contact</a>
      </div>
    </div>
    </div>
    <footer id="contact">
        <div class="footer-banner">
          <div class="footer-content">

          <h2>Let's connect</h2>
          <p>I’m interested in new opportunities to drive
          innovation and growth in both the digital and the analog </p>
          <div class="footer-email">
            <a href="mailto:jguyer@jaredguyer.io"><i class="fa fa-envelope-o" style="margin-right: 5px"></i>jguyer@jaredguyer.io</a>
          </div>
          </div>
        </div>
      <div class="footer-bottom">
        <div class="footer-links">
          <a href="https://www.linkedin.com/in/jaredleeguyer/" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a href="https://medium.com/@jared_guyer" target="_blank"><i class="fa fa-medium"></i></a>
          <a href="https://github.com/jaredg8" target="_blank"><i class="fa fa-github"></i></a>
          <a href="mailto:jguyer@jaredguyer.io" ><i class="fa fa-envelope-o"></i></a>
        </div>
        <div class="footer-copyright">
          Handcrafted with  <i class="fa fa-heart"></i>  from the road
        </div>
      </div>
    </footer>
  </body>
</html>
