<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111884068-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111884068-1');
    </script>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Vollkorn:400,400i,600,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  </head>
  <body>
    <header>
      <div class="navbar-guyer">
        <!-- Logo -->
        <a href="/" class="navbar-guyer-brand">
            <%= image_tag "New Logo.png", alt: "JG Logo"%>
        </a>

        <!-- Right Navigation -->
      <div class="navbar-guyer-right">

        <a href="https://www.linkedin.com/in/jaredleeguyer" target="_blank" class="navbar-guyer-item navbar-guyer-link">Resume</a>
        <a href="https://medium.com/@jared_guyer" target="_blank" class="navbar-guyer-item navbar-guyer-link">Blog</a>
        <a href="mailto:jguyer@jaredguyer.io" class="navbar-guyer-item navbar-guyer-link">Contact</a>

      <!-- Dropdown appearing on mobile only -->
      </div>

    </header>
      <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.1) 10%, rgba(0,36,61,0.65) 50%), url('<%=image_path "Forest_cover.jpeg" %>');">
        <div class="banner-content">
          <h1>Hi, I'm Jared.  </h1>
          <h2>Strategist <br> Technologist <br> Entrepreneur</h2>
        </div>
      </div>

      <div class="intro-container">
        <div class="intro-image">
          <%= image_tag "Jared_profile.jpg", alt: "Jared Side Profile" %>
        </div>
        <div class="intro-text">
          <p>I’m an experienced business consultant, product and project manager with 6+ years experience at <a href="https://www2.deloitte.com/us/en/services/consulting.html" target="_blank"> Deloitte Consulting LLP </a> & a variety of non-profits. </p>
          <p> I am skilled in crafting & operationalizing strategy, prototyping & developing technology products, and aligning digital & strategic goals.</p>
        </div>
          <div class="btn-wrap">
            <a href="mailto:jguyer@jaredguyer.io" class="btn-resume" width="100px">Contact Me</a>
          </div>
        </div>

      <div class="experience-container">
        <div class="experience1">
          <h3>Industry</h3>
          <p>I've worked extensively in public and private sectors including health care, education, research organizations, retail, real estate, and automotive. </p>
        </div>
        <div class="experience2">
          <h3>Skills</h3>
          <p>Proven skills in project & product management, strategic planning, business model and service design, prototyping, and full-stack web development. </p>
        </div>
        <div class="experience3">
          <h3>Results</h3>
          <p>I have led successful scaling of software products, improved fund raising and grant application results, and designed tools to align operations with strategy.</p>
        </div>
      </div>

      <div class="skills-container">
        <div class="skill-icon">
            <%= image_tag "Strategy_icon.svg", alt:"Strategy Icon" %>
        </div>
          <div class="skill-header">
            <h3>Strategy Development</h3>
          </div>
          <div class="skill-text">
            <p>I can update or perform due diligence on organizational strategy.  After 6 years at Deloitte I’ve seen what works and doesn't across a variety of industries and subject matters</p>
          </div>
          <div class="skill-icon-2">
              <%= image_tag "Technology_icon.svg", alt:"Technology Icon" %>
          </div>
            <div class="skill-header-2">
              <h3>Technology Advisory</h3>
            </div>
            <div class="skill-text-2">
              <p>I can assess the feasibility of a technology initiative and how to best integrate new tools and technologies into your operations</p>
            </div>
            <div class="skill-icon-3">
                <%= image_tag "Digital_icon.svg", alt:"Digital Icon" %>
            </div>
              <div class="skill-header-3">
                <h3>Digital Strategy</h3>
              </div>
              <div class="skill-text-3">
                <p> I can lead the formation of a digital vision for your organization through identifying digital opportunities and roadmaps</p>
              </div>
              <div class="skill-icon-4">
                  <%= image_tag "Writing_icon.svg", alt:"Digital Icon" %>
              </div>
                <div class="skill-header-4">
                  <h3>Content Development</h3>
                </div>
                <div class="skill-text-4">
                  <p> I can craft content for customer and constituent engagement across various channels</p>
                </div>
        </div>
        <div class="clients-container">
          <div class="client-title">
            <h2>What my clients say</h2>
          </div>
          <div class="client1-text">
            <p>Jared is Awesome! <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi totam illo consequatur similique ullam maiores dignissimos consectetur optio libero soluta autem tempora quis odit ad omnis pariatur beatae, laboriosam, fuga.</span><span>Possimus iusto, animi et quasi commodi hic velit? Dignissimos ducimus dolores necessitatibus nihil, aperiam, aliquid laboriosam minus nulla repellendus id perferendis reiciendis culpa rerum vero consectetur nesciunt error, quis voluptatum!</span></p>
          </div>
          <div class="client1-avatar">
            <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="avatar-bordered"/>
          </div>

          <div class="client1-name">
            <p>Carl Newman</p>
          </div>
          <div class="client1-title">
            <p>NOAA Director</p>
          </div>

            <div class="client2-avatar">
              <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="avatar-bordered"/>
            </div>

              <div class="client2-text">
                <p>Jared is Awesome! <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi totam illo consequatur similique ullam maiores dignissimos consectetur optio libero soluta autem tempora quis odit ad omnis pariatur beatae, laboriosam, fuga.</span><span>Possimus iusto, animi et quasi commodi hic velit? Dignissimos ducimus dolores necessitatibus nihil, aperiam, aliquid laboriosam minus nulla repellendus id perferendis reiciendis culpa rerum vero consectetur nesciunt error, quis voluptatum!</span></p>
              </div>
            <div class="client2-name">
              <p>Meaghan Woodbury</p>
            </div>
            <div class="client2-title">
              <p>Urban Alliance COO</p>
            </div>
            <div class="client3-avatar">
              <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="avatar-bordered"/>
            </div>
              <div class="client3-text">
                <p>Jared is Awesome! <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi totam illo consequatur similique ullam maiores dignissimos consectetur optio libero soluta autem tempora quis odit ad omnis pariatur beatae, laboriosam, fuga.</span><span>Possimus iusto, animi et quasi commodi hic velit? Dignissimos ducimus dolores necessitatibus nihil, aperiam, aliquid laboriosam minus nulla repellendus id perferendis reiciendis culpa rerum vero consectetur nesciunt error, quis voluptatum!</span></p>
              </div>
            <div class="client3-name">
              <p>Valerie Asheley</p>
            </div>
            <div class="client3-title">
              <p>SEM Executive Director</p>
            </div>
        </div>
      <footer id="contact">
          <div class="footer-banner">
            <div class="footer-content">
            <h2>Let's connect</h2>
            <p>I’m interested in new opportunities to drive
            innovation and growth in both the digital and the analog worlds </p>
            <div class="footer-email">
              <a href="mailto:jguyer@jaredguyer.io"><i class="fa fa-envelope-o" style="margin-right: 5px"></i>jguyer@jaredguyer.io</a>
            </div>
            </div>
          </div>
        <div class="footer-bottom">
          <div class="footer-links">
            <a href="https://www.linkedin.com/in/jaredleeguyer/" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://medium.com/@jared_guyer" target="_blank"><i class="fa fa-medium"></i></a>
            <a href="https://github.com/jaredg8" target="_blank"><i class="fa fa-github"></i></a>
            <a href="mailto:jguyer@jaredguyer.io" ><i class="fa fa-envelope-o"></i></a>
          </div>
          <div class="footer-copyright">
            Handcrafted with  <i class="fa fa-heart"></i>  from the road
          </div>
        </div>
      </footer>
  </body>
</html>
